html, body {
    margin: 0;
    padding: 0;
    font-family: OCR A Std, monospace;
}

header {
    background-color: #000000;
    padding: 5px;
}

header img {
    height: 175px;
    width: 200px;
}

#games {
    width:25%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display:block;
}

#games h2 {
    font-size: 2em;
    font-family: OCR A Std, monospace;
}

#container {
    display:flex;
    height:200%;
    background-color: rgb(133, 93, 156);
}

#games span {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

#games span:not(:last-child) { 
    margin-bottom: .5em;  
}

#games span {
    float: left;
    clear: left;
}

#games span:hover {
    color: white;
    cursor: pointer;
}

#game-detail {
    position: relative;
    margin-top: 20px;
}

#game-image {
    width: 650px;
    height: 350px;
}

#game-text {
    position: absolute;
    top:0px;
    height:auto;
}

#game-name {
    text-transform: uppercase;
    font-size: 1.5em;
    background-image: image-set("./assets/TitleBG.png");
    margin-top: 250px;
    color: white;
    width: 410px;
}

#game-play-time {
    background-image: image-set("./assets/HoursBG.png");
    color: white;
    width: 276.5px;
}

#game-description {
    font-size: 1.25em;
}

input[type=submit] {
    border:0px;
    background:white;
    font-size: 1em;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 10px;
}


.game-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

#game-preview {
    display: none;
    position: absolute;
    top: 205;
    right: 1000;
}

#game-preview-image {
    max-width: 200px; /* Adjust the size as needed */
    max-height: 200px; /* Adjust the size as needed */
}

/* input[type=text] {
    width: 150px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 10px;
    padding:10px;
}

/* .icon {
    width:2em;
    height:auto;
    vertical-align: middle;
}

form {
    display:flex;
    height: 30px;
} */